.question-editor-container{
  margin: 10px;
  width: fit-content;
  height: fit-content;
  //border-width: 1px;
}

.question-editor-field-group{
  margin: 16px;
}

.question-editor-field-group span{
  display: block;
}

.question-text-box{
  height: 2em;
  width: 100%;
  text-align: start !important;
}

.input-file{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
//
.input-file + label {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1.25em;
  font-weight: 700;
  color: var(--light-purple-logo-text);
  background: #7f6491;
  //box-shadow:  4px 4px 8px #25162c,
  //-4px -4px 8px #593e65;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.5em;
}
//
.input-file:focus + label,
.input-file + label:hover {
  background-color: #7f6491;
  color: var(--white-most-text);
}

.question-data-container{
  display: flex;
}


.input-number{
  border-radius: 5px;
  padding-left: 20px;
  border: none;
  -moz-appearance: textfield;
  background: white;
}

.input-time{
  border-radius: 5px;
  padding-left: 20px;
  border: none;
  -moz-appearance: textfield;
  background: white;
}
